<div id="search_room">
<h2>検索結果: <%= @rooms.count %>件</h2>
<table>
<thead>
 <tr>
  <th>画像</th>
  <th>名前</th>
  <th>住所</th>
  <th>ルーム紹介</th>
  <th>値段</th>
  <th>予約</th>
 </tr>
</thead>

<tbody>
 <tr>
 <% @rooms.each do |room| %>
  <% if room.image.attached? %>
  <td><%= image_tag room.image, size: '100x100' %></td>
  <% else %>
  <td>画像なし
  <% end %>
  </td>
  <td><%= room.name %></td>
  <td><%= room.adress %></td>
  <td><%= room.introduction %></td>
  <td><%= room.price %></td>
  <td><%= link_to "予約する", {controller: 'reservations', action: 'new', id: room.id} %></td>
 </tr>
 <% end %>
</tbody>
</table>
</div>

